@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
body {
  margin: 0;
  padding-top: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav {
  padding-top: 20px;
  width: 100%;
  height: 60px;
  /*background-color: #ED4A0F;*/
  border-bottom: solid 8px #EE3114;
  box-shadow: 10px 10px 10px #ccc;
  position: absolute;
  top: 0;
}

.title {
  color: #D3611E;
}

img {
  width: 100%;
}

a {
  color: #333;
}

.col-6 {
  width: 46%;
  float: left;
  padding: 0% 2%;
}

.col-3 {
  width: 25%;
  float: left;
}

.center {
  text-align: center;
}

.container {
  padding: 0% 10%;
}

.button {
  background-color: #ED4A0F;
  padding: .5vw 3vw;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #EE3114;
}

input {
  display: block;
}

.subscribers {
  margin: 0 100px;
  padding: 20px;
  border: 2px solid orange;
}

.data-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.table {
  margin: 0 auto;
  width: 900px;
}

.flash {
  padding: 20px;
  background-color: lightgray;
  font-size: 18px;
}

.error {
  color: darkred;
}

.success {
  color: darkgreen;
}

.login {
  width: 220px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.login p {
  float: right;
}

.course-title {
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
  background-color: #5bc0de;
  cursor: pointer;
}

.course-description {
  font-size: 18px;
  padding: 4px;
  background-color: #ffbd76;
  margin-bottom: 20px;
}

.course-cost {
  font-size: 18px;
  padding: 4px;
  background-color: #5bc0de;
  margin-bottom: 20px;
}

.join-button {
  position: absolute;
  right: 25px;
}

.joined-button {
  position: absolute;
  right: 25px;
  background-color: green;
}

#chat {
  border: 2px solid black;
  min-height: 200px;
  height: 200px;
  overflow: hidden;
  margin: 20px 0;
}

#chatForm input {
  display: inline;
}

li {
  list-style: none;
  padding: 3px;
}

.chat-icon {
  font-size: 35px;
  left: 10px;
  top: 5px;
  position: absolute;
}

.current-user {
  color: green;
  font-weight: bold;
}

.user-name {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .login {
    position: absolute;
    width: 220px;
    right: 10px;
    top: 0px;
    font-size: 10px;
  }
}
